.dexter_title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 45px;
    color: var(--text-color);
}

:root{
    --header-color: rgb(73, 32, 131);
    --text-color: rgb(30,100,240);
}

img {
    border-radius: 15px;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--header-color);
}


p {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    color: var(--text-color);
}

.dexter_place{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 150px;
}

.dexter_image_2{
    margin: 50px 50px 40px 1250px;
    display: flex;
}

.dexter_section{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.other_title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 50px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin: 100px;
}

h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 35px;
    color: var(--text-color);
}

.dexter_inside_2{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 150px;
}

.pp{
    width: 950px;
    height: 80px;
}

.second{
    margin: 0;
}

